.error{
		color: red;
		font-weight: bold;
	}
	body{
		font-family: 'Chewy';
	    background: url(fest15.jpg);
	    background-repeat: no-repeat;
	    background-position: center;
	}
	a{ text-decoration: none;
		color: white;
		font-size: 1.5em;
		padding: 1em;
		background: rgba(0,0,0,0.6);
	}
	table{
		border: 1px solid blue;
		margin:auto;
		padding: 1em;
		border-radius: 0.5em;
		color: white;
		background: rgba(0,0,0,0.6);
	}
	td{
		padding: 0.5em;
	}